<template>
  <div>
    <h1>{{ msg }}</h1>
  </div>
</template>

<script lang="ts">
import Worker from '../workers/counter.worker?worker';


const worker = new Worker();

export default {
  name: 'HelloWorld',

  props: {
    msg: {
      type: String,
      required: true,
    },
  },

  mounted() {
    worker.addEventListener( 'message', ( { data: { type, result, error } } ) => {
      console.log( 'got', { type, result, error } );
    } );
  },

};
</script>

<style scoped>
a {
    color: #42b983;
}

label {
    margin: 0 0.5em;
    font-weight: bold;
}

code {
    background-color: #eee;
    padding: 2px 4px;
    border-radius: 4px;
    color: #304455;
}
</style>
